/* LogIn style */
.colorBar-One{
    background-color: black;
    height: 110px;
    }
    .colorBar-Two{
        height: 25px;
        margin-bottom: 35px;
    }

    .pageTitle{
        font-family: 'Patua One', cursive;
    }
    
    