body {
    background: url('/images/img08_1440x832.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
  }
  #imgText{
    text-shadow: 1px 1px 10px #181818;

  }
 
#navBackground {
    background-color: black;
    font-family: 'Patua One', cursive;
}
#pageTitle {

    font-family: 'Patua One', cursive;
    color: white;
    margin-top: 30px;
    text-shadow: 1px 1px 8px #3d3d3d;
}


