<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</body>
<div class="container">
<div class="jumbotron">
  
    <h1 class="display-4">Royal Riders</h1>
    <a class="btn btn-primary btn-lg" id ="btn-log" href="/login" role="button">Login</a>
    <a class="btn btn-primary btn-lg"  id="btn-acc" href="/signup" role="button">Create An account</a>

  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>