<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style/style-Index.css">
</head>

<body>
  <!-- NavBar -->
  <nav id="navBackground" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand text-warning" href="/">Royal Riders</a>
      </div>
      <ul class="nav">
        <li class="font-weight-bold text-monospace"><a href="#">Link</a> &nbsp; </li>
        <li>&nbsp; | &nbsp; &nbsp; </li>
        <li class="font-weight-bold text-monospace"><a href="#">Link</a> &nbsp; </li>
        <li>&nbsp; | &nbsp; &nbsp; </li>
        <li class="font-weight-bold text-monospace"><a href="#">Link</a> &nbsp; </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row text-center mt-5">
      <div class="col-sm mt-5">
        <h1 id="pageTitle" class="display-4">Royal Riders</h1>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm mt-3">
        <h5 class="text-danger">* Add explanation below *</h5>
        <p class="font-weight-bold text-white text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Faucibus turpis in eu mi bibendum neque egestas. Malesuada proin libero nunc consequat interdum
          varius.</p>
        <div>
        </div>

        <div class="row">
          <div class="col mt-3">
            <a class="btn btn-primary btn-lg font-weight-bold text-uppercase" id="btn-log" href="/login"
              role="button">Login</a>
            &nbsp;

            <a class="btn btn-primary btn-lg font-weight-bold text-uppercase" id="btn-acc" href="/signup"
              role="button">Create An Account</a>
            <div>

              <!-- <div class="col">
      <a class="btn btn-primary btn-lg" id="btn-acc" href="/signup" role="button">Create An account</a>
    <div> -->
            </div>
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>

</html>