<!DOCTYPE html>
<html lang="en">

<head>
    <title>Member Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        

    <link rel="stylesheet" href="/style/style-membersStyle.css">
</head>

<body>
    <!-- NavBar -->
    <nav id="navBackground" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text-warning" href="/home">Royal Riders</a>
            </div>
            <ul class="nav">
                <li class="font-weight-bold text-monospace"><a href="/home">Destinations</a> &nbsp; </li>

                <li>&nbsp; | &nbsp; &nbsp; &nbsp;</li>
                <li class="font-weight-bold text-monospace"><a href="/logout">Logout</a> &nbsp; </li>

            </ul>
        </div>
    </nav>

    <!-- member name populates here -->
    <main>
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col-sm">
                    <div class="member-name">
                        <h2 id="pageTitle" class="text-primary">Member Name</h2>
                    </div>
                    <p class="text-light">
                        Welcome to Royal Rider’s. Book the trip of a lifetime below.
                    </p>
                </div>
            </div>
        </div>
    </main>



    <!-- all trip information -->
    <section id="tripPopulate">
        <div class="container">
            <div class="row mt-3 mb-4">
                <div class="col-sm">
                    <h2 id="pageTitle" class="text-primary">My Upcomming Trips</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-6 ">
                <div id="tripPost" class="alert alert-secondary" role="alert">
                    <h4 id="tripPostCity" class="alert-heading">City Name</h4>
                    <hr>
                    <ul id="tripPostData">
                        <li>Origin: Philadelphia, PA</li>
                        <li>Start Date: 00/00/00</li>
                        <li>End Date: 00/00/00</li>
                    </ul>
                    <!-- Button trigger modal -->


                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Congratulations</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <div class="member-name">
                                        <h2 id="pageTitle" class="text-primary">You Reserved Your Trip!</h2>
                                    </div>
                                    <p class="mb-5">
                                        Don't forget to book another Royal Rider’s trip.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" id="trip-btn" data-target="#myModal"
                        class="btn btn-warning btn-lg btn-block font-weight-bold text-uppercase">Reserve</button>
                </div>
            </div>
        </div>
    </section>

    <!-- reserved trips here -->
    <section>
        <div class="container">
            <div class="row mt-3 mb-4">
                <div class="col-sm">
                    <h2 id="pageTitle" class="text-primary">My Reserved Trips</h2>
                </div>
            </div>
        </div>
    </section>



    <div class="footerBG bg-primary">
        <div class="container mt-5">

            <div class="row text-center">
                <div class="col-sm mt-3 mb-5">
                    <h1 id="pageTitle" class="mb-2">You've Traveled <span id="travelMiles">(x x x) </span>Miles.</h1>
                    <p class="text-light mb-5">Expand your miles by booking another trip.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="footerBlue bg-warning"></div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/membersStyle.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>